html {
  height: 1640px;
  position: relative;
  width: 917px;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: block;
  width: 900px;
  height: 1500px;
}

a {
  color: inherit;
  text-decoration: none;
}

#header_bar {
  width: 900px;
  height: 60px;
  margin: 0 auto;
}

.grey_bar {
  margin-top: 75px;
  background: repeating-linear-gradient(
    45deg,
    #E6E6E6,
    #E6E6E6 1px,
    #FCF7FC 1px,
    #FCF7FC 2px
    );
    width: 900px;
    height: 10px;
    background-color: LightGrey;
    margin-bottom: 30px;
  }

  .top_bar_text {
    font-weight: bold;
    margin-top: -10px;
    font-family: 'Oswald', serif;
    font-size: 38px;
  }
  .posted_text {
    position: absolute;
    margin-top: -30px;
    font-size: 11px;
  }

  .top {
    width: 900px;
    height: 60px;
    margin-bottom: 25px;
  }

  .top_left {
    width: 50px;
    float: left;
    position: absolute;
  }

  .top_right {
    display: inline;
    margin-right: -60px;
    float: right;
    width: 285px;
    margin-top: -50px;
  }
  .rss {
    margin-left: 7px;
  }

  .pint {
    margin-left: -1px;
  }

  .flic {
    margin-left: -1px;
  }

  .logo {
    float: left;
    margin-top: -60px;
  }

  .del {
    margin-left: 35px;
    display: inline;
    text-indent: 10px;
    margin-top: -70px;
    position: absolute;
    font-size: 45px;
    font-style: italic;
    font-family: 'Yellowtail', cursive;
  }

  .best {
    width: 195px;
    text-indent: 15px;
    position: absolute;
    margin-top: -22px;
    margin-left: 35px;
    font-size: 10px;
  }

  p {
    display: inline-block;
  }

  .main_photo {
    width: 900px
  }

  .para {
    text-indent: 25px;
  }

  .recipe {
    margin-bottom: -35px;
    background: url(assets/list-bg.png);
    width: 899px;
    height: 305px;
  }

  ul {
    font-size: 23px;
    list-style: none;
  }

  li {
    font-family: 'Patrick Hand', cursive;
  }

  .checked:checked + .chkd_label {
    text-decoration: line-through;
  }

  .right {
    margin-top: 37px;
    margin-right: 1%;
    float: right;
  }

  .left {
    margin-top: 37px;
    margin-left: 1%;
    float: left;
  }

  .bottom_bar {
    position: relative;
  }
  .vanessa_pic {
    float: left;
  }

  .vanessa {
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    float: left;
    margin-top: -5px;  }

    .mini_bio {
      font-size: 10px;
    }

    .bottomline {
      color: #e6e6e6;
      margin-top: 5px;
      margin-left: -193px;
      float: left;
      font-size: 20px;
      text-align: left;
    }

    .bottomline2 {
      color: #e6e6e6;
      margin-top: 1px;
      margin-left: -583px;
      font-size: 20px;
    }

    .bottom_right {
      font-family: 'Abel', sans-serif;
      text-align: center;
      background-color: #AB2C0C;
      color: white;
      float: right;
      margin-top: -90px;
      width: 195px;
    }

    .footer_left {
      margin-top: 18px;
      width: 420px;
      float: left;
      border: 1px solid #e6e6e6;
    }

    .footer_center {
      margin-left: auto;
      margin-right: auto;
      height: 33px;
      width: 31px;
      border: 1px solid #e6e6e6;
    }

    .footer_right {
      margin-top: -18px;
      width: 420px;
      float: right;
      border: 1px solid #e6e6e6;
    }

    .mainfooter {
      text-align: center;
      color: #e6e6e6;
    }

.copywrite {
  margin-top: 25px;
  margin-bottom: 1PX;
}

.pubbed {
  margin-top: 1px;
}
