html {
  width: 917px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;

}

body {
  width: 900px;
  height: 1450px;
  border: 1px solid green;
}

#header_bar {
  width: 900px;
  height: 60px;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

.grey_bar {
  background: repeating-linear-gradient(
    45deg,
    #8F99AB,
    #8F99AB 1px,
    #FCF7FC 1px,
    #FCF7FC 2px
    );
    width: 900px;
    height: 10px;
    /*border: 1px solid orange;*/
    background-color: LightGrey;
  }

  .top_bar_text {
    font-family: 'Oswald', serif;
    font-size: 25px;
  }

  .top {
    font-size: 8px;
    width: 900px;
    height: 60px;
    border: 1px solid blue;
  }

  .top_left {

  }
  .logo {
    margin-top: 7px;
  }
  .del {
    text-indent: 10px;
    margin-top: -6px;
    position: absolute;
    font-size: 45px;
    font-style: italic;
    font-family: 'Yellowtail', cursive;
  }
  .best {
    text-indent: 15px;
    position: absolute;
    margin-top: 43px;
    font-size: 10px;
  }
  p {
    display: inline-block;
  }

  .main_photo {
    width: 900px
  }

  .para {
    text-indent: 20px;
  }

  .recipe {
    background: url(assets/list-bg.png);
    width: 899px;
    height: 305px;
  }

  ul {
    font-size: 25px;
    list-style: none;
  }

  .right {
    margin-right: 25%;
    float: right;
  }
  .left {
    margin-left: 2%;
    float: left;
  }









  .
